{% extends 'base.j2' %}
{% block title %}Details{% endblock %}
{% block content %}
<h1>{{user.first_name}} {{user.last_name}}<h1>
<a href="/CH28_SQLAlchemy/flask-blogly/templates/edit.j2"></a>
<a href="/CH28_SQLAlchemy/flask-blogly/templates/edit.j2"></a>
{% endblock %}