{% extends 'base.j2' %}
{% block title %}Form{% endblock %}
{% block content %}
    <h2>Create a user</h2>
    <form method="POST">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" placeholder="Enter a first name" id="first_name" />
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" placeholder="Enter a last name" id="last_name"/>
      <label for="image_url">Image Url</label>
      <input
        type="text"
        name="image_url"
        placeholder="Provide an image of this user"
        id="image_url"
      />
      <button type="submit">Add User</button>
    </form>
{% endblock %}